.root-frame-icon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-container,
.root-frame,
.root-frame-icon {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.root-frame {
  background: linear-gradient(239.46deg, rgba(67, 61, 61, 0.8), transparent);
  z-index: 1;
}
.frame-container {
  margin: 0 !important;
}
.welcome-username {
  position: relative;
  line-height: 28px;
  font-weight: 600;
}
.welcome-username-label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 49px;
}
.button-frame,
.frame-with-io-stats-chart {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.button-frame {
  width: 517px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 56px;
}
.frame-with-io-stats-chart {
  width: 505px;
  height: 400px;
  flex-direction: row;
  justify-content: center;
}
.empty-frame,
.home {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.empty-frame {
  width: 1267px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 10px solid #9b2c2c;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: 48px 365px 202px;
  gap: 69px;
  max-width: 100%;
  z-index: 2;
}
.home {
  width: 100%;
  position: relative;
  background-color: #fff;
  flex-direction: row;
  justify-content: center;
  padding: 62px 20px 62px 45px;
  letter-spacing: normal;
  text-align: left;
  font-size: 40px;
  color: #fff;
  font-family: Inter;
}
@media screen and (max-width: 1200px) {
  .empty-frame,
  .home {
    box-sizing: border-box;
  }
  .empty-frame {
    padding-left: 182px;
    padding-right: 182px;
  }
  .home {
    padding-left: 22px;
  }
}
@media screen and (max-width: 1050px) {
  .welcome-username {
    font-size: 32px;
    line-height: 22px;
  }
  .empty-frame {
    padding-top: 31px;
    padding-bottom: 131px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .welcome-username-label {
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
  }
  .button-frame {
    gap: 28px 56px;
  }
  .empty-frame {
    gap: 34px 69px;
    padding-left: 91px;
    padding-right: 91px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .welcome-username {
    font-size: 24px;
    line-height: 17px;
  }
  .empty-frame {
    gap: 17px 69px;
    padding: 20px 20px 85px;
    box-sizing: border-box;
  }
}
