.hint-text8,
.label9 {
  height: 20px;
  position: relative;
  line-height: 20px;
  display: inline-block;
}
.label9 {
  width: 0;
  font-weight: 500;
}
.hint-text8 {
  align-self: stretch;
  color: #475467;
}
.label-frame1 {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}
.buttonsbutton8 {
  align-self: stretch;
  flex: 1;
  cursor: pointer;
}
.hint-frame,
.logout-button {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logout-button {
  flex-direction: row;
  padding: 0 0 0 13px;
}
.hint-frame {
  flex-direction: column;
  gap: 16px;
}
.buttonsbutton10,
.buttonsbutton11,
.buttonsbutton9 {
  width: 320px;
  height: 62px;
  cursor: pointer;
}
.buttons-frame {
  align-self: stretch;
  width: 333px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 30px;
  max-width: 100%;
  text-align: left;
  font-size: 14px;
  color: #344054;
  font-family: Inter;
}
