.hint-text9,
.label10 {
  height: 20px;
  position: relative;
  line-height: 20px;
  display: inline-block;
}
.label10 {
  width: 0;
  font-weight: 500;
}
.hint-text9 {
  align-self: stretch;
  color: #475467;
}
.frame-wrapper1,
.label-parent4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.label-parent4 {
  flex: 1;
  flex-direction: column;
  gap: 6px;
}
.frame-wrapper1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 13px 0 0;
}
.buttonsbutton13 {
  align-self: stretch;
  flex: 1;
}
.first-child-frame {
  width: 320px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 9px;
  box-sizing: border-box;
}
.buttonsbutton14 {
  height: 62px;
  flex: 1;
}
.first-child-frame1 {
  width: 320px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 9px;
  box-sizing: border-box;
}
.buttonsbutton15 {
  width: 320px;
  height: 62px;
}
.text10 {
  position: relative;
  font-size: 32px;
  line-height: 28px;
  font-weight: 600;
  font-family: Inter;
  color: #fff;
  text-align: left;
  z-index: 1;
}
.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.mdsettings-icon {
  height: 30px;
  width: 30px;
  position: relative;
  min-height: 30px;
  margin-left: -230.3px;
}
.placeholder-icon6 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  z-index: 3;
}
.buttonsbutton16,
.frame-parent2 {
  display: flex;
  justify-content: flex-start;
}
.buttonsbutton16 {
  cursor: pointer;
  border: 1px solid #c53030;
  padding: 16px 13px 16px 15px;
  background-color: #63171b;
  width: 320px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
}
.frame-parent2 {
  align-self: stretch;
  width: 333px;
  flex-direction: column;
  align-items: flex-end;
  gap: 21px;
  max-width: 100%;
  text-align: left;
  font-size: 14px;
  color: #344054;
  font-family: Inter;
}
@media screen and (max-width: 1050px) {
  .text10 {
    font-size: 26px;
    line-height: 22px;
  }
}
@media screen and (max-width: 450px) {
  .text10 {
    font-size: 19px;
    line-height: 17px;
  }
}
